<!DOCTYPE html>
<html>

<body>
  <h1>Translate Application - Using GoogleAPI</h1>
  <hr>

  <form>
    Text in English: <input type="text" [(ngModel)]="translationReq.textTranslate" required><br /> <br />
    <label for="targetLanguage">Translate to:</label>
    <select class="form-select" style="width: 10rem;" name='targetLanguage' [(ngModel)]="translationReq.targetLang" required>
      <option value="sq">Albanian</option>
      <option value="zh">Mandarin</option>
      <option value="fr">French</option>
      <option value="de">German</option>
      <option value="ko">Korean</option>
      <option value="ja">Japanese</option>
      <option value="es">Spanish</option>
    </select><br /><br />
    <button class="btn btn-danger btn-sm" (click)="sendTranslation()">Submit</button><br/>
  </form>
  <hr>
  <div class="card text-white bg-secondary mb-3" style="width: 18rem;" *ngFor="let item of translatedDB.slice().reverse() ">
    <h5 class="card-header">From English to {{item.targetLang}}</h5>
    <div class="card-body">
    <p class="card-text">English Text: {{item.textTranslate}}</p>
    <p class="card-text">Translated Text: {{item.translatedText}}</p>
  </div> <br/>
  </div>
</body>


</html>
